.hamburger {
    width: 26px;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    
    @include tablets {
        display: inline-flex;
    }

    &__plank {
        height: 4px;
        display: block;
        background: #FFFFFF;
        border-radius: 10px;
    }

}