.menu {
    margin: 0 30px;
    line-height: rem(22px);
    display: flex;
    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.menu__item {
    vertical-align: middle;
    margin-right: rem(22px);
    flex-grow: 0;
}

.menu__link {
    font-size: rem(16px);
    white-space: nowrap;
}

.menu__link:hover {
        cursor: pointer;
        color:$slick-btn-hover-text-color;
        border: none;
        transition: color .3s,;
}

