@charset "utf-8";

$slick-base-font-size: 18px;

$slick-tablets: 785px;
$slick-phones: 497px;

$slick-background-color:#17191C;
$slick-background-section-color: #FFFFFF;
$slick-background-hello:url(../image/header-backgound.png) center top no-repeat;
$slick-background-hello-tablets:url(../image/header-background-tablets.png);
$slick-background-hello-phones:url(../image/header-background-phones.png);
$slick-background-surf-orders:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/background.jpg) center center/100% no-repeat;
$slick-title-font-size: 48px;
$slick-text-font-size: 18px;
$slick-text-color:#666666;

$slick-welcome-title-color:#fff;
$slick-welcome-headline-title-color: #292929;
$slick-welcome-surf-orders-title-color:#fff;

$slick-btn-text-color:#000000;
$slick-btn-background-color:#FEDB3F;
$slick-btn-hover-text-color: #FEDB3F;
$slick-btn-hover-background-color: #17191C;

