.surf-contacts {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.maps__img {
    width: 100%;
    height: 100%;
    @include tablets {
       background: url(../image/map-768.png);
        }
    @include phones {
        background: url(../image/map-480.png);
        }
}

.maps {
    flex: 1;
    
}

.footer {
    padding-left: rem(80px);
    padding-right: rem(80px);
    display: block;
    height: rem(87px);
    width: 100%;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets {
        height: rem(107px);
        padding-left: rem(30px);
        padding-right: rem(30px);
        }

        @include phones {
            height: rem(151px);
            padding-left: rem(91px);
            padding-right: rem(91px);
            padding-top: rem(20px);
            padding-bottom: rem(35px);
            display: flex;
            flex-direction: column;
            }
    
}

.footer__container {
    display: flex;
    flex-direction: column;

    @include phones {
        align-items: center;
        }

}

.footer__contacts {
    margin-top: rem(5px);
    color: #292929;
    font-size: rem(21px);
    position: relative;
    display: flex;
    align-items: center;
}

.footer__contacts__img {
    width: rem(14px);
    height: rem(14px);
    flex-shrink: 0;
}

.footer__contacts__phone {
    font-size: 21px;
    color: #292929;
    margin-left: rem(6px);
    white-space: nowrap;
}

.footer__contacts__info {
    font-size: 21px;
    color: #000000;
    @include phones {
        margin-top: rem(7px);

        }
    
}

.social-icons {
    display: flex;
    padding-top: rem(9px);

    @include phones {
        padding-top: rem(15px);
        }

}

.social-icons__item {
    margin-right: rem(14px);

    &:last-child {
        margin-right: 0;
    }
}

.social-icons__item__icon{
    cursor: pointer;
    width: rem(20px);
    height: rem(20px);
}

